.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

/* //search bar  */
.form-control:focus {
  box-shadow: none;
}

.btn-danger {
  background-color: #ff385c; /* Airbnb red */
  border: none;
}
