<% layout("/layouts/boilerplate") -%>

    <div class="form-container">
        <h2><i class="fas fa-plus-circle"></i> Signup On Wondelast</h2>
        <form action="/signup" method="POST" class="needs-validation" novalidate>

            <div class="mb-3">
                <label for="username" class="form-label">
                    <i class="fas fa-heading"></i> Username
                </label>
                <input name="username" id="username" type="text" class="form-control" placeholder="Username" required />
            </div>

            <div class="valid-feedback">Looks good!</div>

            <div class="mb-3">
                <label for="email" class="form-label">
                    <i class="fas fa-heading"></i> Email
                </label>
                <input name="email" id="email" type="text" class="form-control" placeholder="Email" required />
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">
                    <i class="fas fa-heading"></i> Password
                </label>
                <input name="password" id="password" type="text" class="form-control" placeholder="Password" required />
            </div>

            <button type="Sign Up" class="btn btn-primary">
                <i class="fas fa-plus-circle"></i> Sign Up
            </button>
        </form>
    </div>